.sectionTitle {
    margin-top: 20px;
    &::before {
        content: none;
    }
}

.card {
    .lang {
        opacity: 0;
    }
    &:hover {
        .lang {
            opacity: 100;
        }
    }
}